/* WordPress Core ---------------------- */
.alignnone {
    margin: 0.25rem 1.25rem 1.25rem 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 0.25rem auto;
}
.alignright {
    float:right;
    margin: 0.25rem 0 1.25rem 1.25rem;
}
.alignleft {
    float: left;
    margin: 0.25rem 1.25rem 1.25rem 0;
}
.aligncenter {
    display: block;
    margin: 0.25rem auto;
}
a img.alignright {
    float: right;
    margin: 0.25rem 0 1.25rem 1.25rem;
}
a img.alignnone {
    margin: 0.25rem 1.25rem 1.25rem 0;
}
a img.alignleft {
    float: left;
    margin: 0.25rem 1.25rem 1.25rem 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 0.25rem 0.25rem 0.75rem;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 0.25rem 1.25rem 1.25rem 0;
}
.wp-caption.alignleft {
    margin: 0.25rem 1.25rem 1.25rem 0;
}
.wp-caption.alignright {
    margin: 0.25rem 0 1.25rem 1.25rem;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
    padding: 0 0.25rem 0.25rem;
}

/* Responsive Images */
.wp-caption {
    max-width: 100%;
}
img[class*=align], img[class*=wp-image-], img[class*=attachment-] {
    height: auto;
}
img.size-full, img.size-large, img.header-image, img.wp-post-image {
    max-width: 100%;
    height: auto;
}
.entry-content .twitter-tweet-rendered {
    max-width: 100%!important;
}
.entry-content img, .comment-content img, .widget img, rembed, iframe, object, video {
    max-width: 100%;
}

/* Misc Styles */
ul, ol, dl {
    margin-left: 1.125rem;
}
.gallery dl {
    margin-left: 0;
}
/* fix for textarea height */
textarea {
    height: auto;
}
/* fix for gallery spacing */
.gallery [data-clearing] li {
    margin-right: 0;
    padding-left: 0;
}
/*  fix for h1 in top bar causing SEO nightmare */
.top-bar .name p {
    margin: 0;
    font-size: 1.0625rem;
    line-height: 45px;
}
.top-bar .name p a {
    display: block;
    padding: 0 1.25rem;
    color: white;
    font-weight: bold;
}
/* fix for margin on top bar */
.top-bar, .contain-to-grid .top-bar {
    margin-bottom: 0;
}

/* Header ---------------------- */
.site-header {
    background-color: #eee;
    margin-bottom: 1.25rem;
}
.home .site-header {
    margin-bottom: 0;
}
.site-header > div {
    padding: 1.875rem 0;
}
.top-bar .title-area {
    margin-left: 0;
}
.site-title {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 2.75rem;
    line-height: 1.4;
}
.site-title a {
    color: #333;
}
.site-description {
    margin-bottom: 0;
    font-size: 1.688rem;
    font-weight: lighter;
}
.site-logo {
    float: left;
    margin: 0 0.625rem 1.25rem 0;
}
#mobile-menu-button .button {
    margin-bottom: 0;
    padding: 0.75rem 0.5rem;
    width: auto;
}
.mobile-menu-icon {
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    border-radius: 0.063rem;
    background-color: #777;
    box-shadow: 0 0.063rem 0 rgba(0, 0, 0, 0.25);
}
.mobile-menu-icon + .mobile-menu-icon {
    margin: 0.188rem 0 0;
}
#mobile-menu-button {
    float: left;
}
@media only screen and (min-width: 48rem) {
    .top-bar-section .search-form {
        padding: 0 10.25rem;
    }
}

/* Footer ---------------------- */
.site-footer {
    background-color: #eee;
    margin-top: 1.25rem;
}
.home .site-footer {
    margin-top: 0;
}
.site-footer > div {
    clear: both;
    padding: 1.875rem 0;
}
.site-footer > .site-info {
    background-color: #333;
    color: #858585;
    padding: 1.25rem 0;
}
.site-footer > .site-info a {
    color: #858585;
}
.content-info {
    text-align: left;
}
.content-info p, .footer-links li {
    font-size: 0.75rem;
}
.content-info p, .footer-links .inline-list {
    margin: 0;
}
@media only screen and (min-width: 48rem) {
    .content-info {
        text-align: right;
    }
}

/* Slider ---------------------- */
.slide-title {
	color: #fff;
}
.slide-excerpt {
	margin: 0;
}

/* Posts & Pages ---------------------- */
.entry-icon {
    position: static;
    font-size: 2.5rem;
}
@media only screen and (min-width: 48rem) {
    .entry-icon {
        position: absolute;
        left: -8.33333%;
    }
}
.entry-featured {
    float: right;
}
.entry-body {
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 0.063rem solid #ddd;
}
.multi-column .entry-body, .type-page .entry-body {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.entry-meta {
    margin-bottom: 0.625rem;
}
.entry-tags {
    margin-top: 0.625rem;
}
.nav-single {
    margin: 1.063rem 0 0;
}
.flex-map iframe {
    width: 100%;
}
.entry-footer .panel {
    margin-bottom: 0;
}
.entry-footer {
    clear: both;
}
.entry-footer .edit-link {
    margin: 1.063rem 0;
}

/* Post Formats ---------------------- */
.post.format-chat .entry-content {
    padding: 0.625rem;
    border: 0.063rem solid #ddd;
}
.post.format-chat .entry-content p {
    margin: 0;
}
.post.format-chat .entry-content p:nth-child(2n) {
    background-color: #eee;
}
.post.format-chat .entry-footer {
    margin: 1.063rem 0 0;
}
.post.format-video .flex-video {
    margin-bottom: 0;
}
.post.format-gallery .gallery-itrem {
    clear: none;
}
.post.format-audio .entry-title, .post.format-image .entry-title, .post.format-video .entry-title, .post.format-gallery .entry-title {
    font-size: 1.125rem;
}
.post.format-audio p, .post.format-gallery p, .post.format-image p, .post.format-link p, .post.format-video p {
    margin-bottom: 0;
    line-height: 0;
}

/* Comments ---------------------- */
ol.commentlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ol.commentlist ol {
    list-style-type: none;
}
ol.commentlist li {
    margin: 0;
}
.comment-author {
    padding: 0;
    text-decoration: none;
}
#comments, p.nocomments {
    clear: both;
    padding: 1.063rem 0;
}
.commentlist li.comment .comment-entry {
    position: relative;
    clear: both;
    margin-bottom: 1.25rem;
    padding: 0.625rem;
    border: 0.063rem solid #e6e6e6;
    background-color: #f2f2f2;
}
.commentlist li.comment .comment-content {
    position: relative;
    clear: both;
    margin: 0.625rem 0;
    padding: 0.625rem;
    border: 0.063rem solid #e6e6e6;
    background-color: #fff;
}
.comments-area article header {
    margin-top: 1.063rem;
}
.comments-area article header img {
    float: left;
}
.comments-area article header cite, .comments-area article header time {
    display: block;
    margin-left: 3.750rem;
}

/* Widgets ---------------------- */
.widget {
    overflow: hidden;
}
.widget .textwidget {
    margin: 0 0 1.063rem;
}
.tagcloud {
    padding: 0.313rem 0;
}

/* Breadcrumbs ---------------------- */
ul.breadcrumbs {
    margin: 1.25rem 0 0;
}

/* Pagination ---------------------- */
ul.pagination {
    clear: both;
    margin: 1.875rem 0 1.25rem;
}

/* Off-Canvas ---------------------- */
/*#main:before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: " ";
}
#page {
    overflow: hidden;
}
#mobile-menu, #main {
    position: relative;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.js #mobile-menu {
    position: absolute;
    z-index: 1;
    margin-left: -100%;
    padding: 0 0.938rem;
    width: 80%;
}
.js #main {
    position: relative;
    z-index: 0;
    margin-left: 0;
}
.active #mobile-menu {
    margin-left: 0;
}
.active #main {
    margin-left: 80%;
}
@media only screen and (min-width: 48rem) {
    .js #main {
        position: static;
    }

    .active #mobile-menu {
        margin-left: -100%;
    }

    .active #main {
        margin-left: 0;
    }
}*/
